{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h5>Check it out! <i><span class="lead">We made a list os developers you could follow.</span></i></h5>
        </div>
        <hr>
    </div>
    <img id="loading" class="text-center" src="{{ STATIC_URL }}recomendation/img/loading_people.gif">
    <img id="loading" class="text-center" src="{{ STATIC_URL }}recomendation/img/loading_geral.gif  git">
    <div class="feedback-msg text-center" >
        <h6 >
            <span class="label label-success">Now, following Victor...</span>
            <span class="label label-danger">Nunca mais iremos sugerir essa pessoa, desculpe...</span>
        </h6>
    </div>

    <div class="full-container">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/8f8d53501d40286f6a2f228326926909"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action">
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <h6>cesarFrias</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/467d5a76b07519c0f0678cb8218e9b45"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action" >
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom ">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <h6>ebertti</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://1.gravatar.com/avatar/59bd0447c07625a205b1a5a2ea0434aa"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action">
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <h6>joaoleite</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/8f8d53501d40286f6a2f228326926909"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action">
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <h6>cesarFrias</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/467d5a76b07519c0f0678cb8218e9b45"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action">
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <h6>ebertti</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://1.gravatar.com/avatar/59bd0447c07625a205b1a5a2ea0434aa"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action">
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <h6>joaoleite</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/8f8d53501d40286f6a2f228326926909"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action">
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <h6>cesarFrias</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/467d5a76b07519c0f0678cb8218e9b45"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action">
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom in">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner" style="display: block; box-shadow: 1px 1px #fff, -1px -1px #f4f4f4, 0px 0px 1px 1px #fff;"   >
                            <h6>ebertti</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://1.gravatar.com/avatar/59bd0447c07625a205b1a5a2ea0434aa"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action">
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <h6>joaoleite</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/8f8d53501d40286f6a2f228326926909"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action">
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <h6>cesarFrias</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/467d5a76b07519c0f0678cb8218e9b45"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action">
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <h6>ebertti</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img class="img-circle img-thumb"
                         src="https://1.gravatar.com/avatar/59bd0447c07625a205b1a5a2ea0434aa"
                         data-src="holder.js/100x100" alt="100x100">
                    <div class="btn-group btn-sm btn-user-action">
                        <a class="btn btn-sm btn-inverse active" href="#fakelink"><span  class="glyphicon glyphicon-road"></span ></a>
                        <a class="btn btn-sm btn-inverse" href="#fakelink"><span  class="glyphicon glyphicon-new-window"></span ></a>
                        <a class="btn btn-sm btn-danger" href="#fakelink"><span  class="glyphicon glyphicon-remove"></span ></a>
                    </div>
                    <div class="tooltip fade bottom">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">
                            <h6>joaoleite</h6>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}