{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h5>Check it out! <i><span class="lead">We made a list os developers you could follow.</span></i></h5>
        </div>
        <hr>
    </div>
    <div class="full-container">
        <div class="container sugestion">
            <img id="loading" class="text-center" src="{{ STATIC_URL }}recomendation/img/loading_people.gif">
        </div>
    </div>
{% endblock %}

{% block scripts %}

    {{ block.super }}

    <script type="text/template" id="template-suggestion">
        <% _.each(users, function(user, index, collection){  %>

        <% if(index == 0){ %>
        <div class="row text-center">
            <% } %>

            <div class="col-lg-2">
                <img class="img-circle img-thumb"
                     src="<%= user.avatar_url %>"
                     data-src="holder.js/100x100" alt="100x100">
                <p class="lead"><%= user.login %></p>
                <div class="btn-group btn-sm btn-user-action">
                    <a class="btn btn-sm btn-inverse" href="http://github.com/<%= user.login %>" target="_blank" title="Remove suggestion">
                        <span  class="glyphicon glyphicon-new-window"></span >
                    </a>
                    <a class="btn btn-sm btn-danger" onclick="removeSuggestion(this);">
                        <span  class="glyphicon glyphicon-remove"></span >
                    </a>
                </div>
                <div class="tooltip fade bottom"></div>

            </div>

            <% if(index % 6 == 0 && (index + 1 < collection.lenght )){ %>
        </div>
        <div class="row text-center">
            <% } %>
            <% }); %>
        </div>
    </script>

    <script>
        $(document).ready(function(){

            templates = {
                'suggestion': _.template($("#template-suggestion").html())
            };

            $.ajax({
                url: "{% url "recomendation:suggestion" %}",
                success:function(data, xsr){
                    renderSuggestion(data);
                }
            });

            $(".js_as_link").click(function(e){
                var url = $(this).data('link');
                window.location = url;
                console.log(url)
            });
        });

        removeSuggestion = function(user){
            var user = $(user).parent().parent();
            user.fadeOut();
            user.remove();
        }

        renderSuggestion = function(users){
            $('.sugestion').html(templates.suggestion({users:users}));
        }

    </script>
{% endblock %}
