{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Zezaz, <i><span class="lead">improving your github experience!</span></i></h1>

            <p class="lead">Find new code buddies and projects to follow and contribute!</p>
            {% if user.is_authenticated %}
                <p><a class="btn btn-lg btn-success" href="follow">Show me how <span class="glyphicon glyphicon-chevron-right"></span></i></a></p>
            {% else %}
                <button type="submit" class="btn btn-success btn-text-black js_login"> Log in with GitHub <img src="{{ STATIC_URL }}recomendation/img/GitHub-Mark-32px.png" width="20px"/></button>
            {% endif %}
        </div>
        <hr>
    </div>
{% endblock %}