{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Zezaz, <i><span class="lead">improving your github experience!</span></i></h1>

            <p class="lead">Find new code buddies and projects to follow and contribute!</p>
            <p class="lead">Log in with your GitHub account!</p>
        </div>
        <hr>
    </div>
    <div class="full-container">
        <div class="container">
            <div class="row text-center" >
                <div class="col-lg-4">
                    <h3>Follow</h3>
                    <p>Find people that share your passion about coding.</p>
                    <p class="text-right"><a class="btn btn-sm btn-primary" href="follow">See more &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h3>Stare</h3>
                    <p>Discover projects to stare, maybe you will find something useful.</p>
                    <p class="text-right"><a class="btn btn-sm btn-primary" href="#">See more &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h3>Contribute</h3>
                    <p>Wanna join an open source project? Check this ones.</p>
                    <p class="text-right"><a class="btn btn-sm btn-primary" href="#">See more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}