{% extends 'base.html' %}
{% block content %}
    <div class="full-container-team-header">
        <h6>Team:</h6>
    </div>
    <div class="full-container-team">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-4">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/8f8d53501d40286f6a2f228326926909"
                         data-src="holder.js/100x100" alt="100x100">
                    <h4>cesarFrias</h4>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis</p>
                    <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/467d5a76b07519c0f0678cb8218e9b45"
                         data-src="holder.js/100x100" alt="100x100">
                    <h4>ebertti</h4>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                    <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="img-circle img-thumb"
                         src="https://1.gravatar.com/avatar/59bd0447c07625a205b1a5a2ea0434aa"
                         data-src="holder.js/100x100" alt="100x100">
                    <h4>joaoleite</h4>
                    <p>Semper. Fusce dapibus, tellus ac cursus commodo, tortor</p>
                    <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}