{% extends 'base.html' %}
{% block content %}

    <div class="full-container-team-header">
        <h6>Team:</h6>
    </div>
    <div class="full-container-team">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-4">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/8f8d53501d40286f6a2f228326926909"
                         data-src="holder.js/100x100" alt="100x100">
                    <h4><a href="http://github.com/cesarFrias" target="_blank">cesarFrias</a></h4>
                    <p>Just one of the guys</p>
                    <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="img-circle img-thumb"
                         src="https://2.gravatar.com/avatar/467d5a76b07519c0f0678cb8218e9b45"
                         data-src="holder.js/100x100" alt="100x100">
                    <h4><a href="http://github.com/ebertti" target="_blank">ebertti</a></h4>
                    <p>Another guy</p>
                    <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="img-circle img-thumb"
                         src="https://1.gravatar.com/avatar/59bd0447c07625a205b1a5a2ea0434aa"
                         data-src="holder.js/100x100" alt="100x100">
                    <h4><a href="http://github.com/joaoleite" target="_blank">joaoleite</a></h4>
                    <p>The othe other guy</p>
                    <p class="text-right"><a class="btn btn-sm btn-primary" href="#">View details &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}